.callout {
	p {
		font-size: 1.125rem;
		@include breakpoint(small only) {
			font-size: 1rem;
		}
	}
	a {
		border-bottom: 1px solid rgba($taubman-teal, 0) !important;
		font-weight: 700;
		transition: all .2s ease;
		&:hover {
			border-bottom: 1px solid rgba($taubman-teal, 1) !important;
			color: $taubman-teal;
		}
		@include breakpoint(small only) {
			font-size: 1rem;
		}
	}
}